
@media only screen and (max-width: 767px) {
    .episode-box {
        h1 {
            color: white;
        }
        .list-info {
            
            display: block;
            div {
                width:100%;
            }
        }
    }
}