.inspiration-box {
    h1 {
        color: white;
    }
    h2 {
        color: darkgray;
        text-align: center;
    }
    .info-box {
        margin-top:40px;
        margin-bottom:40px;
        display:flex;
        flex:1;
        color: blanchedalmond;
        .img-box {
            padding-right:20px;
            img{
                padding-top: 25px;
            }
        }
        .quote-section {
            padding-right:20px;
            width: 60%;
        }
        .video-section {
            width:40%;
            iframe {
                height:260px;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .inspiration-box {
        .info-box {
            display: block;
            .quote-section {
                padding-right:20px;
                width: 100%;
            }
            .video-section {
                width:100%;
            }
            .img-box {
                text-align: center;
            }

        }
    }
}