/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}
.float-right {
    float: right;
}
.mT30px {
    margin-top:30px;
}
.align-right {
    text-align: right;
}
.dropdown-toggle {
    color: white;
}
.btn-group{
    top:30px;
    padding-right:20px;
}
.btn-group a {
    padding: 5px 10px;
}
.btn-group a:hover, .btn-group a:focus {
   background-color: #eee;
    color:black;
}

@media only screen and (max-width: 767px) {
    .no-float {
        float:none;
    }
}